//секция "команда"

.section--background-grey {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;

  &--box-shadow {
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__names {
    color: $primary-text-color;
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  &__icon {
    display: flex;
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  &__profession {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $p-text-color;
    text-align: center;
    padding-top: 10px;
  }
  &--box-position {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.team__social-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;

  &--position {
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--position:hover {
    background-color: $accent-color;
    transform: rotateY(360deg);
  }
  &--position:hover .team__icon {
    fill: $white-color;
  }
}
