h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0%;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #e5e5e5;
  color: $primary-text-color;
  font-family: "Raleway", sans-serif;
  font-family: $main-font;
  letter-spacing: 0.03em;
}
textarea {
  resize: none;
  outline: none;
}
input {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $white-color;
}
